﻿﻿h1 {
    color: blue;
}

strong {
    font-size: 1.6em;
    text-decoration: underline;
}

ul {
    font-family: DM serif Text;
}

p {
    color: greenyellow;
    font-size: 1.4em;
}

body {
    background-color: black;
    color: white;
    font-size: 1.1em;
}

@media (min-width: 768px) {
    body {
        font-size: 1.125rem; /* Texte légèrement plus grand sur tablette */
    }

    strong {
        font-size: 2.5rem;
    }
}

/* Media Query pour grands écrans (ex: 1200px et plus) */
@media (min-width: 1200px) {
    body {
        font-size: 1.25rem;
    }

    strong {
        font-size: 1.5rem;
    }
}