.la_classe {
    color: greenyellow;
    background-color: black;
}

h2 {
    color: blue;
    font-size: 1.5rem;
}

body {
    background-color: black;
    color: white;
    text-align: justify;
    font-size: 1.3rem;
}

@media (min-width: 768px) {
    body {
        font-size: 1.125rem; /* Texte légèrement plus grand sur tablette */
    }

    h2 {
        font-size: 2.5rem;
    }
}

/* Media Query pour grands écrans (ex: 1200px et plus) */
@media (min-width: 1200px) {
    body {
        font-size: 1.25rem;
    }

    h2 {
        font-size: 3rem;
    }
}