strong {
    font-size: 1.3rem;
    color: greenyellow;
}

body {
    background-color: black;
    color: white;
    width: 350px;
    background-color: black;
    text-align: justify;
    padding: 16px;
    margin: auto;
}

p {
    font-size: 1.2rem;
    width: 350px;
    background-color: black;
    text-align: justify;
    padding: 16px;
    margin: auto;
}

@media (min-width: 768px) {
    body {
        font-size: 1.125rem; /* Texte légèrement plus grand sur tablette */
    }

    strong {
        font-size: 2.5rem;
    }
}

/* Media Query pour grands écrans (ex: 1200px et plus) */
@media (min-width: 1200px) {
    body {
        font-size: 1.25rem;
    }

    strong {
        font-size: 1.5rem;
    }
}